/* Error: Undefined variable.
 *    ,
 * 63 |     z-index: map.get(var.$z-index, "normal");
 *    |                      ^^^^^^^^^^^^
 *    '
 *   badge.scss 63:22            @content
 *   ..\tools\mixins.scss 304:7  e()
 *   badge.scss 61:3             @content
 *   ..\tools\mixins.scss 285:5  b()
 *   badge.scss 60:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined variable.\a    \2577 \a 63 \2502      z-index: map.get(var.$z-index, "normal");\d\a    \2502                       ^^^^^^^^^^^^\a    \2575 \a   badge.scss 63:22            @content\a   ..\\tools\\mixins.scss 304:7  e()\a   badge.scss 61:3             @content\a   ..\\tools\\mixins.scss 285:5  b()\a   badge.scss 60:1             root stylesheet';
}
